html, body{
    margin:0;
    padding:0;
    background-color: #fff;
}
.form {
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    margin-bottom:20px;
    max-width: 450px;
    padding: 0px 20px 20px 20px;
    background-color: #F7F7F7;
    font: 14px Palatino Linotype, Book Antiqua, Palatino, serif;
    color: #413E3D;
    border:1px solid #E4E4E4;
}
h1 {
    display: block;
    padding:8px 0 14px 40px;
    margin: 0px -20px 0px -20px;
    background-color: #FFB8A5;
    border:1px solid #A88981;
    font-size: 25px;
    color: #A3543F;
    
}
h1>span {
    display: block;
    font-size: 12px;
}
.menu{
    display: block;
    padding-bottom: 5px;
}
.menu li{
    display: inline;
    padding-left: 10px;
}
a{
    color:#A3543F;
}
a:hover{
    color:#A88981;
    text-decoration: none;
}
.last_menu_item{
    float: right;
    margin-right: 20px;
}
label {
    margin-top:13px;
    display: block;
    font-size: 14px;
}
.comment{
    font-size:12px;
    color:#888;
}
input, textarea  {
    border: 1px solid #DADADA;
    height: 22px;
    margin-top: 5px;
    outline: 0 none;
    padding: 3px;
    width: 98%;
    font-size: 14px;
    line-height:10px;
}
textarea{
    padding: 8px 4px 4px 8px;
    height:100px;
	line-height:1em;
}
.radio{
	vertical-align:bottom;
	border:none;
	height: 16px;
	width:12%;
}
.submit {
    background-color: #A84D35;
	height:40px;
    color: #fff;
    font-size: 16px;
	width: 100%;
	margin-top:14px;
}
.submit:hover{
    background-color: #8B3721;
}
.error{
    color:#F13200;
}
.success{
    color:#3ED804;
}
.image {
    max-width: 400px; 
}

